@charset "UTF-8";

@font-face {
    font-family: "Basier Circle";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/basiercircle-regular.woff2") format("woff2"),
        url("../fonts/basiercircle-regular.woff") format("woff"),
}

@font-face {
    font-family: "Basier Circle";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/basiercircle-regularitalic.woff2") format("woff2"),
        url("../fonts/basiercircle-regularitalic.woff") format("woff"),
}

@font-face {
    font-family: "Basier Circle";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/basiercircle-medium.woff2") format("woff2"),
        url("../fonts/basiercircle-medium.woff") format("woff"),
}

@font-face {
    font-family: "Basier Circle";
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/basiercircle-mediumitalic.woff2") format("woff2"),
        url("../fonts/basiercircle-mediumitalic.woff") format("woff"),
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

:root {
    --doc-height: 100%;
    --color: #1e1e1e;
    --header-font-family: "Bricolage Grotesque", sans-serif;
    --header-font-size: 2rem;
    --header-font-weight: 800;
    --body-font-size: 1.2rem;
    --title-font-family: "Bricolage Grotesque", sans-serif;
    --title-font-size: 1.2rem;
    --subtitle-font-family: "Bricolage Grotesque", sans-serif;
    --subtitle-font-size: .8rem;
    --main-margin: 6rem;
    --column-margin: 2.5rem;
}

body {
    font-family: "Basier Circle", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--body-font-size);
    color: var(--color);
    margin: var(--main-margin);
    overflow-x: hidden;
}

body.--disable {
    overflow-y: hidden;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

a {
    width: fit-content;
}

.icon-wrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.icon-wrapper svg {
    width: 1rem;
    height: 1rem;
    stroke: var(--color);
}

.header {
    position: fixed;
    top: var(--main-margin);
    left: var(--main-margin);
    z-index: 7;
}

.header,
.site-nav {
    font-family: var(--header-font-family);
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    line-height: 90%;
}

.menu-opener {
    position: fixed;
    top: var(--main-margin);
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.menu-opener-wrapper {
    transition: transform .5s ease;
}

.menu-opener svg {
    width: 2rem;
    height: 2rem;
    position: relative;
    fill: var(--color);
}

.menu-opener.--rotate .menu-opener-wrapper {
    transform: rotate(45deg);
}

.menu {
    width: 100%;
    height: var(--doc-height);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffffea;
    z-index: 8;
    display: none;
}

.menu-wrapper {
    opacity: 0;
    transition: opacity 1s ease;
}

.menu.--open {
    display: block;
}

.menu-wrapper.--open {
    opacity: 1;
}

.nav {
    padding: var(--main-margin);
}

.site-nav {
    position: absolute;
    top: var(--main-margin);
    left: var(--main-margin);
}

.page-nav {
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.page-nav-item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-nav-item img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

.page-nav-item figcaption {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--header-font-weight);
    text-align: center;
}

.lang-switcher,
.page-label {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--header-font-weight);
    line-height: 0;
    position: fixed;
    flex-direction: column;
    z-index: 7;
}

.lang-switcher {
    bottom: var(--main-margin);
    left: var(--main-margin);
    transform-origin: center;
    transform: rotate(180deg);
}

.page-label {
    top: var(--main-margin);
    right: var(--main-margin);
}

.page-label .subtitle {
    font-family: var(--subtitle-font-family);
    font-size: var(--subtitle-font-size);
    font-weight: var(--header-font-weight);
}

.lang-switcher p,
.page-label p {
    writing-mode: vertical-lr;
}

.main {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    z-index: 1;
}

.main.--disable {
    pointer-events: none;
}

.column {
    width: 50%;
    padding: 0 var(--column-margin);
}

.column img {
    width: 100%;
    position: sticky;
    top: var(--main-margin);
}

.column:nth-child(2),
.column-block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.column-block:not(:nth-child(1)) {
    margin-top: 2rem;
}

#partners {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .8rem;
}

.logo-wrapper img {
    width: 100%;
    max-width: 3rem;
    max-height: 3rem;
    object-fit: cover;
}

.logo-wrapper figcaption {
    font-size: .8rem;
}

.column-title {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--header-font-weight);
}

.accordion:not(:nth-child(1)),
.column-title:not(:nth-child(1)) {
    margin-top: 2rem;
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordion-header {
    width: fit-content;
}

.accordion-header svg {
    display: none;
}

.accordion-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.audio-button {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    font-weight: var(--header-font-weight);
    cursor: pointer;
}

.audio-component {
    width: 50%;
    position: fixed;
    bottom: calc(var(--main-margin)/4);
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.audio-component.--display {
    display: block;
}

.audio-player {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: #fff;
    border: solid 3px var(--color);
    border-radius: 4rem;
    opacity: 0;
    transition: opacity .5s ease;
}

.audio-player.--opacity {
    opacity: 1;
}

.audio-player svg {
    width: 1.2rem;
    height: 1.2rem;
    stroke: var(--color);
    stroke-width: 2px;
}

.audio-player-wrapper {
    min-width: 50%;
    display: flex;
    align-items: center;
    font-family: var(--subtitle-font-family);
    font-size: var(--subtitle-font-size);
    font-weight: var(--header-font-weight);
}

.audio-title {
    margin-right: 2rem;
}

.audio-progress {
    white-space: nowrap;
}

input.seek-slider {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
    border: 1px dashed var(--color);
}

input.seek-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
}

input.seek-slider::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: var(--seek-before-width);
    height: 2px;
    background-color: var(--color);
    cursor: pointer;
}

input.seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 0;
    width: 0;
}

.play-btn,
.audio-volume {
    position: relative;
    display: flex;
    cursor: pointer;
}

.play-icon.--toggle-play {
    opacity: 0;
}

.pause-icon {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.pause-icon.--toggle-play {
    opacity: 1;
}

.volume-icon.--toggle-volume {
    opacity: 0;
}

.mute-icon {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.mute-icon.--toggle-volume {
    opacity: 1;
}

.footer {
    display: none;
}

@media screen and (max-width: 900px) and (-webkit-min-device-pixel-ratio: 2) {
    :root {
        --header-font-size: 1.5rem;
        --body-font-size: 1rem;
        --title-font-size: 1rem;
        --subtitle-font-size: .75rem;
        --main-margin: 1.5rem .75rem;
        --margin-top: 1.5rem;
        --margin-right: .75rem;
        --margin-bottom: 1.5rem;
        --margin-left: .75rem;
        --column-margin: 2rem;
    }

    body {
        margin-top: var(--margin-top);
        margin-right: var(--margin-right);
        margin-bottom: var(--margin-bottom);
        margin-left: var(--margin-left);
    }

    .header {
        position: absolute;
        bottom: var(--margin-bottom);
        right: var(--margin-right);
        text-align: end;
        z-index: 1;
    }

    .site-nav {
        position: absolute;
        bottom: var(--margin-bottom);
        right: var(--margin-right);
    }

    .site-nav-item.icon-wrapper {
        justify-content: flex-end;
    }

    .page-nav {
        height: 75%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .lang-switcher {
        bottom: var(--margin-bottom);
        left: var(--margin-left);
    }

    .page-label {
        top: var(--margin-top);
        right: var(--margin-right);
    }

    .main {
        flex-direction: column;
        gap: var(--column-margin);
    }

    .column {
        min-height: var(--doc-height);
        width: 100%;
        padding: 0 var(--column-margin);
    }

    .column:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .column img {
        position: static;
    }

    .accordion:not(:nth-child(1)),
    .column-title:not(:nth-child(1)) {
        margin-top: 0;
    }

    .accordion-header {
        cursor: pointer;
    }

    .accordion-header svg {
        display: block;
        transition: transform .5s ease;
    }

    .accordion-content {
        display: none;
    }

    .--open .accordion-header svg {
        transform: rotate(180deg);
    }

    .--open .accordion-content {
        display: block;
    }

    .--close .accordion-header svg {
        transform: rotate(0deg);
    }

    .--close .accordion-content {
        display: none;
    }

    .audio-component {
        width: 100%;
        bottom: 0;
        left: 0;
        transform: none;
        z-index: 7;
    }

    .audio-player {
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
        padding: 1rem 2rem;
        background-color: var(--color);
        border: none;
        border-radius: 0;
        color: #fff;
    }

    .audio-player svg {
        width: 1.2rem;
        height: 1.2rem;
        stroke: #fff;
        stroke-width: 1.5px;
    }

    .audio-player-wrapper {
        min-width: 100%;
        justify-content: center;
    }

    input.seek-slider::before {
        background-color: #fff;
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: var(--margin-top);
        cursor: pointer;
    }

    .footer svg {
        width: 1.2rem;
        height: 1.2rem;
    }
}

@media screen and (max-width: 900px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

    .header {
        position: absolute;
        top: var(--margin-top);
        left: var(--margin-left);
        text-align: start;
        z-index: 7;
    }

    .site-nav {
        top: var(--margin-top);
        left: var(--margin-left);
    }

    .site-nav-item.icon-wrapper {
        width: fit-content;
        justify-content: flex-start;
        position: relative;
        z-index: 9;
    }

    .page-nav {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .page-nav-item img {
        width: 100%;
        max-width: 160px;
        max-height: 160px;
        object-fit: cover;
    }
}